html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0px;
    font-family: "Courier New", Courier, monospace;
  }
  
  a:hover {
    animation: pulse 1s ease-in-out infinite;
  }
  
  header {
    box-sizing: border-box;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f6efe2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 800;
    color: black;
    padding: 10px 50px;
  }
  header div img {
    width: 10%;
    align-items: left;
  }
  header .logo {
    font-weight: bold;
    font-size: 20px;
    color: darkslategray;
  }
  
  nav {
    height: 50px;
    display: flex; /* Flexbox handles horizontal layout */
    align-items: center;
  }
  
  nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px; /* horizontal space only */
    height: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-shadow: 0 0 2px gray;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: rgba(237, 237, 100, 0.69);
    border-radius: 5px;
  }
  
  section.home {
    background: url("home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 720px;
    padding-top: 70px;
  }
  section.home div {
    text-align: center;
    color: white;
    margin: auto;
    justify-content: center;
    width: 70%;
    padding: 20px;
  }
  section.home .Hello {
    font-size: 30px;
    text-align: center;
  }
  section.home a {
    color: wheat;
    padding: 10px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 5px;
    border-radius: 20px;
  }
  section.about {
    background: url("produk.png") center/cover no-repeat fixed;
    padding: 100px 30px 50px 30px;
    background-color: burlywood;
    height: 650px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  section.about div {
    color: azure;
    text-align: center;
    margin: auto;
    width: 70%;
    height: 600px;
  }
  section.about img {
    height: 300px;
    width: 300px;
    border-radius: 50px 50px 50px 50px;
  }
  section.product {
    background: url("home.png") center/cover no-repeat fixed;
    min-height: 750px;
    padding: 100px 30px 50px 30px;
  }
  
  section.product .pdct {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
  }
  section.product .pdct .card {
    background-color: bisque;
    text-align: center;
    width: 250px;
    height: 650px;
    margin: 15px;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px
      rgba(rgba(253, 220, 53, 0.97), rgb(116, 167, 116), rgb(76, 76, 221), alpha);
    transition: cubic-bezier(0.23, 1, 0.32, 1);
  }
  section.product .pdct .card img {
    width: 100%;
    border-radius: 10px 10px 10px 10px;
  }
  section.product .pdct .card a {
    color: black;
    padding: 5px 20px;
    text-decoration: none;
    box-shadow: 0px 0px 3px;
    border-radius: 20px;
  }
  @keyframes y {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(3deg);
    }
    50% {
      transform: rotate(-3deg);
    }
    75% {
      transform: rotate(1deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes pulse {
    0%,
    100% {
      box-shadow: 0 0 0 rgba(255, 215, 0, 0.5);
    }
    50% {
      box-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
    }
  }
  
  .card:hover {
    box-shadow: #000000;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: y 0.5s;
  }
  section.contact {
    background-color: rgb(251, 237, 182);
    height: 780px;
  }
  section.contact .card {
    margin: auto;
    color: black;
    text-align: center;
    padding-top: 10%;
    width: 520px;
  }
  section.contact .card img {
    width: 100%;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
  }
  
  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(3deg);
    }
    50% {
      transform: rotate(-3deg);
    }
    75% {
      transform: rotate(1deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  .card:hover {
    box-shadow: #f6efe2;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: shake 0.5s;
  }  